body{
    background-color:#ccffcc
}


.RegForm{
     width: 100%;
     display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    padding: 20px;
    
}
.RegFormInput{
    width: 100%;
    padding: 14px 20px;
    
    margin: 8px 0;
    border: none;
    font-size:large;
    
    
}
 .input{
padding: 10;
align-items: center;


}

.regbtn{
    background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;

}
input[type=text],input[type=password],input[type=tel] ,input[type=date]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #ddd;
  outline: none;
    
  }

  .regbtn:hover{
      color:red;
  }
  * {box-sizing: border-box}